@font-face {
  font-family: 'PoliceP';
  src: url('./assets/polices/policePrinc.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PoliceS';
  src: url('./assets/polices/policeSec.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'PoliceP', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

a{
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}